* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfccaf;
  background-color: #bb8574;
  background-image: url('caffe.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  
}

main {
  max-width: 100%;
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
}

header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #be9b7b; */
  background: linear-gradient(to bottom, #be9b7b 50%, #6f4436 50%);
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
  
}

header:hover {
  transform: scale(1.1);
}

#title {
  /* display: none; */
  padding-bottom: 2rem;
  font-size: 2.5rem;
  color: #dfccaf;
}

.content {
  padding: 3rem 3rem 1rem 3rem;
  border-radius: 1rem;

}

h1 {
  color: #3c2f2f;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

img {
  width: 20rem;
  border-radius: 50%;
  object-fit: cover;
  border: 20px solid #6f4436;
  /* border: 13px solid rgba(255,255,255, 0.5); */

}

